.App {
  text-align: center;
}

.cartQuantity {
  padding: 10px;
}

.padd-top {
  padding-top: 20px;
}

.pagination {
  padding-top: 10px;
  margin: auto;
}

.notAnchor {
  text-decoration: none;
  color: black;
}

.notAnchor:hover {
  background-color: #bbdefb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
